/* ++++++++++++++++++++++++++ Main ++++++++++++++++++++++++++++++ */

body {
  /* background-color: black;; */
}

.App {
  display: flex;
}


a {
  color: black;
  text-decoration: none;
}

/* ++++++++++++++++++++++++++ Landing ++++++++++++++++++++++++++++++ */

.landing {
  margin: 2.5% auto;
}

.landing h1, h2 {
  font-size: 6rem;
  margin: .5rem;
}

h1:hover, h2:hover {
  color: blue;
}

/* ++++++++++++++++++++++++++ All Cards ++++++++++++++++++++++++++++++ */


.allCards h1, .suitPage h1, .suitPage h2  {
  font-size: 6rem;
  color:black;
  font-weight: 400;
  margin: 1rem;
}

.allCards h1:hover {
  color: blue;
}

.allCards {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

/* ++++++++++++++++++++++++++ Suit Page ++++++++++++++++++++++++++++++ */

.suitPage a {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 4rem 2rem;
  padding: 1rem;
  color: black;
  text-decoration: none;
} 

.suitPage h2 {
  display: inline-flex;
  margin: 0;
}

.suitPage h2:hover {
  color: blue;
}

.card {
  display: flex;
}

.cardPage {
  display: flex;
  flex-wrap: wrap;
}

.cardPage h1 {
  display: flex;
  flex-basis: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.cardPage h2 {
  position: absolute;
  top: 20px;
  right: 20px;
}

.cardPage img {
  position: absolute;
  top: 40%;
  left: calc(50% - 50px);
}

input {
  display: flex;
  padding: 1rem;
  width: 30%;
  align-self: center;
}
